<div class = 'jumbotron'>
	<h1 class = 'center'>You don't suck! Your major sucks</h1>
	<p class = 'center'>We are 90% sure that you love this place</p>
	<p class ="center">So <%= link_to 'Sign up', "#", class: 'btn btn-primary btn-lg' %> join your friends </p>
</div>
